---
layout: default
---
<div ng-controller="ToolsController">
  <div class="row">
    <div class="col s12 m12 l8 categories">
      <span><i class="fa fa-shopping-bag"></i> Na bolsa da vovó:</span>
      <ul>
        <li class="{( (search.categories == '') ? 'active' : '' )}"><a href="#" ng-click="searchCategory('');">Todos</a></li>
        <li class="{( (search.categories == 'design') ? 'active' : '' )}"><a href="#" ng-click="searchCategory('design');">Design</a></li>
        <li class="{( (search.categories == 'front-end') ? 'active' : '' )}"><a href="#" ng-click="searchCategory('front-end');">Front-End</a></li>
        <li class="{( (search.categories == 'produtividade') ? 'active' : '' )}"><a href="#" ng-click="searchCategory('produtividade');">Produtividade</a></li>
        <li><a href="#">Outros</a></li>
      </ul>
    </div>
    <div class="col s12 m12 l4 search">
      <input type="text" ng-model="search.$" id="txtSearch" placeholder="pesquisar" ng-trim="false">
    </div>
  </div>
  <div class="ng-cloak">
    <div class="row">
      <div class="col s12 m6 l1 right-align">Tags:</div>
      <div class="col s12 m6 l11">
        <div class="chips">
          <div class="chip" ng-show="search.tags">
            {( search.tags )} <i class="fa fa-close" ng-click="removeTag();"></i>
          </div>
        </div>
      </div>
    </div>
    <table class="bordered highlight responsive table">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Sobre</th>
          <th>Tags</th>
        </tr>
      </thead>
      <tbody>
        <tr class="tool" ng-repeat="tool in tools | orderBy: 'name' | filter: search:strict">
          <td><a ng-href="{( tool.site )}" ng-bind="tool.name"></a></td>
          <td ng-bind="tool.about"></td>
          <td>
            <span ng-repeat="tag in tool.tags" class="chip tag {( (search.tags == tag) ? 'active' : '' )}" ng-click="findTo()" ng-bind="tag"></span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
