<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Socorro Vovó</title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'/>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css'/>
  <link rel="stylesheet" href="styles/custom.css">
  <script src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js'></script>
</head>
<body ng-app="socorroVovo">
  <header>
    <nav class="main-menu">
      <div class="nav-wrapper container">
        <a href="./" class="left brand">Socorro, <span class="text-highlight">vovó!</span> <img src="images/socorrovovo.png" alt="imagem de uma idosa simbolizando a vovó"></a>
        
        <a href="#" data-activates="mobile" class="button-collapse"><i class="fa fa-bars"></i></a>
        <ul class="left hide-on-med-and-down">
          <li><a href="#">Sobre a Vovó</a></li>
          <li><a href="#">Os Netinhos</a></li>
          <li><a href="#">Termos</a></li>
        </ul>
        <ul class="right hide-on-med-and-down">
          <li><a href="#"><i class="fa fa-github"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#" class="waves-effect waves-light btn">Quero ajudar</a></li>
        </ul>
        <ul class="side-nav" id="mobile">
          <li><a href="#">Sass</a></li>
          <li><a href="#">Components</a></li>
          <li><a href="#">Javascript</a></li>
          <li><a href="#">Mobile</a></li>
        </ul>
      </div>
    </nav>
  </header>
  <main class="container">
    <div class="row">
      <div class="col s12 m12 l8 categories">
        <span><i class="fa fa-shopping-bag"></i> Na bolsa da vovó:</span>
        <ul>
          <li class="active"><a href="#">Todos</a></li>
          <li><a href="#">Design</a></li>
          <li><a href="#">Front-End</a></li>
          <li><a href="#">Produtividade</a></li>
          <li><a href="#">Outros</a></li>
        </ul>
      </div>
      <div class="col s12 m12 l4 search">
        <input type="text" ng-model="txtSearch" id="txtSearch" placeholder="pesquisar" ng-trim="false">

      </div>
    </div>
    <div ng-controller="ToolsController" class="ng-cloak">
      <table class="bordered highlight responsive table">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Sobre</th>
            <th>Tags</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="tool in tools | filter: txtSearch">
            <td><a href="{{ tool.site }}">{{ tool.name }}</a></td>
            <td>{{ tool.about }}</td>
            <td>
              <span ng-repeat="tag in tool.tags" class="chip tag" ng-click="findTo()">{{ tag }}</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </main>
  <div class="loader" ng-cloak>
    <svg viewBox="0 0 32 32" width="32" height="32">
      <circle id="spinner" cx="16" cy="16" r="14" fill="none"></circle>
    </svg>
  </div>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/angular-materialize/0.2.2/angular-materialize.min.js'></script>
  <script src="scripts/geral.js"></script>
  <script src="scripts/app.js"></script>
  <script src="scripts/app.config.js"></script>
  <script src="scripts/services/tools.factory.js"></script>
  <script src="scripts/controllers/tools.controller.js"></script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-98652976-1', 'auto');
    ga('send', 'pageview');

  </script>
</body>
</html>