<div *ngIf="!authService.authenticated">
  <form class="form-inline">
    <label class="sr-only" for="email">Name</label>
    <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="email" name="email" [(ngModel)]="email" placeholder="email">

    <label class="sr-only" for="password">Username</label>
    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
      <div class="input-group-addon">@</div>
      <input type="text" class="form-control" id="password" name="password" [(ngModel)]="password" placeholder="senha">
    </div>

    <button (click)="signup()" [disabled]="!email || !password" class="btn btn-primary">Registrar</button>
    <button (click)="login()" [disabled]="!email || !password" class="btn btn-primary">Entrar</button> |
    <button (click)="loginWithGoogle()" class="btn btn-default">
      <img src="assets/images/auth_service_google.svg" alt="Google">
    </button>
    <button (click)="loginWithGitHub()" class="btn btn-default">
      <img src="assets/images/auth_service_github.svg" alt="Github">
    </button>
    <button (click)="loginWithFacebook()" class="btn btn-default">
      <img src="assets/images/auth_service_facebook.svg" alt="Facebook">
    </button>
    <button (click)="loginWithTwitter()" class="btn btn-default">
      <img src="assets/images/auth_service_twitter.svg" alt="Twitter">
    </button>
  </form>
</div>
<button (click)="logout()" *ngIf="authService.authenticated" class="btn btn-danger">Sair</button>
