body {
  color: #9599A9;
  font-family: 'Source Sans Pro';
}

main {
  a {
    color: $link-color;
    transition: all .3s linear;

    &:hover {
      color: $link-color-hover;
      text-decoration: none;
    }
  }
}
