// Bootstrap Grid only
//
// Includes relevant variables and mixins for the flexbox grid
// system, as well as the generated predefined classes (e.g., `.col-sm-4`).

//
// Box sizing, responsive, and more
//

@at-root {
  @-ms-viewport { width: device-width; }
}

html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

//
// Grid mixins
//

@import '~bootstrap/scss/mixins/breakpoints';
@import '~bootstrap/scss/mixins/grid-framework';
@import '~bootstrap/scss/mixins/grid';

@import '~bootstrap/scss/grid';
@import '~bootstrap/scss/utilities/flex';

