@import '~bootstrap/scss/nav';
@import '~bootstrap/scss/navbar';

.main-menu {
  @include background-gradient($color-primary, $color-secondary);

  a {
    color: #EE3371;
    text-transform: uppercase;

    @media(max-width: 1135px) {
      padding: 0 5px;
    }
  }

  a.btn {
    background-color: #EE3371;
    color: #FFF;
    font-weight: 600;
    font-size: 13px;
  }

  a:hover.btn {
    background-color: #ef115b;
    color: #FFF;
  }

  a.brand {
    color: #FFF;
  }
  .text-highlight {
    color: #EE3371;
  }
  .brand div {
    display: inline-block;
    height: 24px;
    position: relative;
    width: 80px;
  }

  .brand img {
    height: 100px;
    position: absolute;
    top: -10px;
    vertical-align: middle;
    z-index: 9999;
  }

}
nav {
  .button-collapse {float: right;}
  .brand, .nav-link {
    display: inline-block;
    font-weight: bold;
    padding: 20px 5px;
  }

}


