.tag {

  background-color: $tag-bg;
  cursor: pointer;
  font-size: $text-small;
  transition: all .3s linear;

  @include styleBtn();

  &.active {
    background-color: #EE3371;
    color: #fff;
  }

  &:hover {
    background-color: $tag-bg-hover;
    color: #FFF;
  }
}
