$color-primary: #311040;
$color-secondary: #450b23;

$text-small: .8em;

$link-color: #E32F6A;
$link-color-hover: #65113D;


$tag-bg: #E3E4E9;
$tag-bg-hover: #474B57;

$tool-list-border-color: #ebebec;

$btn-padding: 8px 12px;
