<div class="tool-list">
  <table class="bordered highlight responsive table">
    <tbody>
      <tr *ngFor="let tool of tools | async" class="tool">
        <td><a href="{{ tool.url }}">{{ tool. name }}</a></td>
        <td>
          <div>{{ tool.about }}</div>
          <div>
             <span *ngFor="let tag of tool.tags" class="tag">{{ tag }}</span>
          </div>
        </td>
        <td>
          <span><span class="fa fa-user-o"></span> @{{ tool.user }}</span> | <a href="#" class="btn-like btn-pulse" (click)="toggleLike($event, tool.$key)"><span class="fa fa-heart"></span> {{ (tool.count | async)?.length }}</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
